.container{
    max-width: 1000px;
    margin: 0 auto;
}

.middle-container{
    display: flex;
}
 
.Front{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 32, 73);
    height: 100px;
    font-size: 45px;
}
 
.left{ 
    max-width: 15px;
    margin: 15px;
    display: flex;
    background-color: gray;
    color: #fff;
    height: 550px;
    font-size: 18px;
    border-style: double;
    border-color: blueviolet;
    
}
 
.body{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: gray;
    color: #fff;
    width: 300;
    height: 500px;
    font-size: 18px;
}


.img1 {
    float: right;
    margin-right: 10px;
    bottom: 3px;
    right: 10px;
}

.Righi{
    text-align: right;

}

 
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 88, 211);
    height: 50px;
    font-size: 35px;
}